<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="clawrock_tab" translate="label" sortOrder="410">
            <label>ClawRock</label>
        </tab>
        <section id="clawrock_productshipping" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Shipping Methods</label>
            <tab>clawrock_tab</tab>
            <resource>ClawRock_ProductShipping::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="country_code" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Destination country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="postcode" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ZIP/Postal code</label>
                    <comment>Required for methods using ZIP code like USPS.</comment>
                </field>
                <field id="custom_message" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom message</label>
                    <comment>Display message when shipping methods not found.</comment>
                </field>
                <field id="options_custom_message" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom message for bundle, configurable products</label>
                    <comment>Display message when shipping methods not found on bundle, configurable PDP.</comment>
                </field>
                <field id="sort_order" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort shipping methods</label>
                    <source_model>ClawRock\ProductShipping\Model\Config\Source\SortOrder</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
